{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>یافت نشد</title>
{% endblock %}
{% block style %}
<style>
    body {
            background: url({% static 'imgs/araksShopBg.svg' %});
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
            overflow: hidden;

        }

        .card-4 {
            width: 700px;
            max-width: 95%;
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container rtl">
        <div class="card-4 padding display-middle padding-32 round-large center">
            <h1 style="color: white">صفحه ی مورد نظر یافت نشد.</h1>
            </div>
        </div>
    </div>
{% endblock %}