{% extends 'admin-panel.html' %}
{% load static %}
{% block title %}
    <title>ثبت محصول جدید</title>
{% endblock %}
{% block style %}
    <style>
        table tr:last-child {
            border-bottom: none;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>ثبت محصول جدید</h5>
            <div class=" padding">
                <form action="addProduct" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="white padding round card block hover-shadow transition-2 pointer">
                        عکس محصول را از این بخش انتخاب کنید
                        <i class="far fa-upload left hide-small" style="margin-top: 5px"></i>
                        <br><input type="file" name="image" class="input hide"></label>
                    <label class="margin-top block">
                        نام محصول<span class="text-red medium"> * </span>
                        <input type="text" name="name" class="input block focus-shadow hover-shadow-2 white" required>
                    </label>
                    <label class="margin-top block">
                        کد محصول
                        <input type="text" name="code" class="input block focus-shadow hover-shadow-2 white" required>
                    </label>
                    <label class="margin-top block">
                        تعداد عکس مورد نیاز
                        <input type="number" name="pic_number" class="input block focus-shadow hover-shadow-2 white">
                    </label>
                    <label class="margin-top block">
                        سایز عکس
                        <input type="text" name="pic_size" class="input block focus-shadow hover-shadow-2 white">
                    </label>
                    <label class="margin-top block">
                        دسته
                        <select name="group" class="input block focus-shadow hover-shadow-2 white">
                            <option value="قاب عکس">قاب عکس</option>
                            <option value="ماگ">ماگ</option>
                            <option value="تیشرت">تیشرت</option>
                            <option value="پیکسل">پیکسل</option>
                            <option value="غیره">غیره</option>
                        </select>
{#                        <input type="text" name="group" class="input block focus-shadow hover-shadow-2 white">#}
                    </label>
                    <label class="margin-top block">
                        توضیحات
                        <input type="text" name="description"
                               class="block focus-shadow hover-shadow-2 white border-0 padding-small"
                               style="min-height: 150px;">
                    </label>
                    <label class="margin-top block">
                        قیمت محصول(تومان)<span class="text-red medium"> * </span>
                        <input type="number" name="price" class="input block focus-shadow hover-shadow-2 white"
                               required>
                    </label>
                    <label for=""></label>
                    <div class="margin-top block">
                        وضعیت<br>
                        <label>موجود
                            <input type="radio" class="radio small" name="exist" value="True">
                        </label>
                        <label>ناموجود
                            <input type="radio" class="radio" name="exist" value="False">
                        </label>

                    </div>
                    <div class="center block">
                        <input type="submit" value="ثبت"
                               class="green show-inline-block btn hover-shadow transition-2 section round "
                               style="padding: 5px 100px">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

