{% extends 'layout.html' %}
{% load tags %}
{% block body %}
    <body class="light-gray">
        <div class="overlay hide-large" onclick="closemenu()" style="cursor:pointer" id="myOverlay"></div>
        <nav class="sidebar card bar-block collapse top right-0 rtl" style="z-index: 3;width: 250px;" id="mySidebar">
            <div class="container display-container">
                <i onclick="closemenu()" class="fa fa-times hide-large button2 hover-text-orange display-topleft"></i>
                <h3 class="wide link padding margin-bottom" style="margin: 0!important; margin-bottom: 20px!important">
                    <b class="large"><a href="/" class="link hover-text-orange">LOGO</a></b></h3>
            </div>

            <div class="">
                <a href="/user/main"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-user padding-small"></i>
                    پنل کاربر
                </a>
                <a href="products_list"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-boxes padding-small"></i>
                    لیست محصولات
                </a>
                <a href="purchase_list"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-shopping-cart padding-small"></i>
                    لیست خرید ها
                </a>
                <a href="users-list"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-users padding-small"></i>
                    لیست کاربر ها
                </a>
                <a href="addProduct"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-box-check padding-small"></i>
                    اضافه کردن محصول
                </a>
                <a href="tickets_list"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-ticket-alt padding-small"></i>
                    تیکتینگ
                </a>
                <a href="/logout"
                   class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                    <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                    <i class="far fa-door-closed padding-small"></i>
                    خروج
                </a>
            </div>

            <span class="center block display-center section display-bottomright small" style="">
{#            تاریخ و ساعت<br><br>#}
            <p id="showtm"></p>
{#            {% right_now %}#}
        </span>
        </nav>

        <header class="main white card bar-block padding-small top" style="margin-right: 250px;z-index: 2">
            <a href="javascript:void(0)" onclick="openmenu()" class="right hide-large hover-text-orange"><i
                    class="fa fa-bars large padding"></i></a>
            <span class="right main"
                  style="margin-right: 260px;margin-top: 6px;">خوش آمدید {{ user.username }} کاربر</span>
            {#        <div class="">#}
            {#            <a href="gallery" class="link"><i class="fa fa-user large padding hover-text-orange button2"></i></a>#}
            {#            <i class="fa fa-bell large padding hover-text-orange button2"></i>#}
            {#        </div>#}
        </header>
        {% block after_body %}
        {% endblock %}
    </body>
{% endblock %}
