{% extends 'panel.html' %}
{% load static %}
{% block title %}
    <title>تیکتینگ</title>
{% endblock %}
{% block style %}
    <style>
        img[alt='kalaImage'] {
            margin-top: 5px;

        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">
        <div class="block">
            <h5>محصولات خریداری شده</h5>
            <div class="block row">
                <div class="col m3 s6 padding-small">
                    <div class="card round padding-small white display-container" style="padding-bottom: 7px !important;">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="kalaImage" class="image round " style="">
                        <h6 class="text-gray center unselect">اسم محصول</h6><br>
                        <a href="#"
                           class="button light-gray hover-shadow hover-light-gray round tiny padding display-center block">نمایش
                            محصول</a>
                    </div>
                </div>
                <div class="col m3 s6 padding-small">
                    <div class="card round padding-small white display-container" style="padding-bottom: 7px !important;">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="kalaImage" class="image round " style="">
                        <h6 class="text-gray center unselect">اسم محصول</h6><br>
                        <a href="#"
                           class="button light-gray hover-shadow hover-light-gray round tiny padding display-center block">نمایش
                            محصول</a>
                    </div>
                </div>
                <div class="col m3 s6 padding-small">
                    <div class="card round padding-small white display-container" style="padding-bottom: 7px !important;">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="kalaImage" class="image round " style="">
                        <h6 class="text-gray center unselect">اسم محصول</h6><br>
                        <a href="#"
                           class="button light-gray hover-shadow hover-light-gray round tiny padding display-center block">نمایش
                            محصول</a>
                    </div>
                </div>
                <div class="col m3 s6 padding-small">
                    <div class="card round padding-small white display-container" style="padding-bottom: 7px !important;">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="kalaImage" class="image round " style="">
                        <h6 class="text-gray center unselect">اسم محصول</h6><br>
                        <a href="#"
                           class="button light-gray hover-shadow hover-light-gray round tiny padding display-center block">نمایش
                            محصول</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

