{% extends 'panel.html' %}
{% load static %}
{% block title %}
    <title>ویرایش مشخصات</title>
{% endblock %}
{% block style %}
    <style>
        .sentticket {
            display: inline-block;
            position: fixed;
            bottom: 46px;
            top: 43px;
            left: 0;
            right: 250px;
            overflow-y: auto;
        }

        .sentticket > div {
            clear: both;
            width: 100%;
            display: block;
        }

        .sentticket > div > div {
            padding: 10px;
            background: #fff;
            display: block;
            font-size: 13px;
            margin: 10px 5px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
            text-align: justify;
            padding-bottom: 20px !important;
            width: 300px;

        }

        .me-sent {
            border-radius: 7px 0px 7px 7px;
            position: relative;
            float: right;
        }

        .admin-sent {
            border-radius: 0px 7px 7px 7px;
            position: relative;
            float: left;
        }

        .sendticket {
            position: fixed !important;
            left: 0 !important;
            bottom: 0 !important;
            width: calc(100% - 250px) !important;
        }

        @media (max-width: 992px) {
            .sendticket {
                width: 100% !important;
            }

            .sentticket {
                right: 0px;
            }
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">
        <div class="block section">
            <h5 class="">ویرایش مشخصات</h5>
            <div class="section">
                <div class="row section">
                    <form action="edit-profile" class="section" method="post" style="width: 500px;">
                        {% csrf_token %}
                        <label>نام<input type="text" class="input small hover-shadow-2 transition-2 focus-shadow " name="first_name"></label><br>
                        <label>نام خانوادگی<input type="text" class="input small hover-shadow-2 transition-2 focus-shadow " name="last_name"></label>
                        <input type="submit" class="btn show-inline-block green round section transition-4" value="ذخیره">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

