{% extends 'admin-panel.html' %}
{% load static %}
{% block title %}
    <title>ویرایش محصول</title>
{% endblock %}
{% block style %}
    <style>
        table tr:last-child{
            border-bottom: none;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>ویرایش محصول</h5>
            <div class=" padding">
                <form action="" class="" enctype="multipart/form-data">
                    <label class="white padding round card block hover-shadow transition-2 pointer">
                        عکس محصول را از این بخش انتخاب کنید
                        <i class="far fa-upload left hide-small" style="margin-top: 5px"></i>
                        <br><input type="file" class="input hide"></label>
                    <label class="margin-top block">
                        کد محصول<span class="text-red medium"> * </span>
                        <input type="text" class="input block focus-shadow hover-shadow-2 white" required>
                    </label>
                    <label class="margin-top block">
                        قیمت محصول(تومان)<span class="text-red medium"> * </span>
                        <input type="number" class="input block focus-shadow hover-shadow-2 white" required>
                    </label>
                    <label class="margin-top block">
                        سایز با پاسپارتو
                        <input type="text" class="input block focus-shadow hover-shadow-2 white">
                    </label>
                    <label class="margin-top block">
                        سایز بدون پاسپارتو
                        <input type="text" class="input block focus-shadow hover-shadow-2 white">
                    </label>
                    <label class="margin-top block">
                        پروفیل قاب
                        <input type="text" class="input block focus-shadow hover-shadow-2 white">
                    </label>
                    <label class="margin-top block">
                        رسته
                        <input type="text" class="input block focus-shadow hover-shadow-2 white">
                    </label>
                    <label class="margin-top block">
                        توضیحات
                        <textarea class="block focus-shadow hover-shadow-2 white border-0 padding-small"
                                  style="min-height: 150px;"></textarea>
                    </label>
                    <label for=""></label>
                    <div class="margin-top block">
                        وضعیت<br>
                        <label>موجود
                            <input type="radio" class="radio small" name="status">
                        </label>
                        <label>ناموجود
                            <input type="radio" class="radio" name="status">
                        </label>
                    </div>
                    <div class="center block">
                        <input type="submit" value="ثبت" class="green show-inline-block btn hover-shadow transition-2 section round "
                               style="padding: 5px 100px">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

