{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>فراموشی رمز</title>
{% endblock %}
{% block style %}
        <style>
        body {
            background: url({% static 'imgs/araksShopBg.svg' %});
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
            overflow: hidden;

        }

        .card-4 {
            width: 400px;
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container rtl">
        <div class="card-4 padding display-middle padding-32 round-large">
            <label for="" class="block margin-bottom text-white">آدرس ایمیل<input type="email" class="input small round focus-shadow-4"></label>
            <input type="submit" class="round block button card text-white blue hover-blue hover-shadow" value="ارسال">
            <div class="row">
                <a href="login" class="round green card link block padding margin-top center hover-shadow">ورود</a>
            </div>
        </div>
    </div>
{% endblock %}