{% extends 'panel.html' %}
{% load static %}
{% block title %}
    <title>گالری</title>
{% endblock %}
{% block style %}
    <style></style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>آپلود عکس</h5>
            <form action="gallery" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="white padding block round card pointer hover-shadow transition-2"><input type="file"
                                                                                                       class="hide"
                                                                                                       name="image"><i
                        class="far fa-upload left" style="margin-top: 5px"></i>عکس های خود را از اینجا انتخاب
                    کنید</label>
                <input type="submit" class="btn green padding round card pointer hover-shadow transition-2"
                       style="background-color: grey;margin: 10px 0px" value="ارسال"/>
            </form>
        </div>
        <div class="block section">
            <h5>گالری تصاویر</h5>
            <div class="section">
                <div class="row section">
                    {% for img in gallery %}
                    <div class="col m3">
                        <div style="overflow: hidden;" class="display-center center round card col m11 section">
                            <img src="{{ img.image.url }}" alt="" class="image">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

