{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Yasin Asasi">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    {% block title %}
        <title></title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ya.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style></style>
</head>
<body class="rtl">
{% block body %}
    {% if form.errors or form.non_field_errors %}
        <div class="container rtl">
            <div class="card center pink padding-large animate-top unselect top"
                 style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                    class="fa fa-times text-white left display-left margin-left pointer"
                    onclick="parentElement.style.top='-300px'"></i>
                <ul style="list-style-type: none;">
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p> {{ error }}{{ field.name }} </p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if messages %}

        <ul class="messages" style="list-style-type: none;direction: rtl">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="card center green padding-large animate-top unselect top"
                         style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                            class="fa fa-times text-white left display-left margin-left pointer"
                            onclick="parentElement.style.top='-300px'"></i>
                        {{ message }}
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="card center pink padding-large animate-top unselect top"
                         style="z-index: 10;position: fixed;right: 0;left: 0;">
                        <i class="fa fa-times text-white left display-left margin-left pointer"
                           onclick="parentElement.style.top='-300px'"></i>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <header style="background: #FEDAB8;" class=" ">
        <div class="right hide-medium hide-larg hide-small" style="width: 120px"> </div>
        <div class="left hide-medium hide-larg hide-small" style="width: 120px"> </div>
        <div class="right margin-right">
            <a href="/"><img src="{% static 'imgs/icon/20.png' %}" alt="" class="image opacity" style="width: 50px"></a>
            <ul class="ul show-inline-block small border-0">
                <li class="show-inline-block  padding-small"><a href="/products"
                                                                class="button2 link hover-bold transition-2">محصولات</a>
                </li>
                <li class="show-inline-block  padding-small"><a href="" class="button2 link hover-bold transition-2">امکانات</a>
                </li>
                <li class="show-inline-block  padding-small"><a href="" class="button2 link hover-bold transition-2">پلن
                    ها</a></li>
                <li class="show-inline-block  padding-small"><a href="" class="button2 link hover-bold transition-2">پشتیبانی</a>
                </li>
                <li class="show-inline-block  padding-small"><a href="/aboutUs"
                                                                class="button2 link hover-bold transition-2">درباره
                    ما</a>
                </li>
                <li class="show-inline-block  padding-small"><a href="/whyUs"
                                                                class="button2 link hover-bold transition-2">چرا ما؟</a>
                </li>
            </ul>
        </div>
        <div class="left margin-left small">
            {% if user.is_authenticated %}
                <a href="/user/main" class="link"><i class="fa fa-user large padding hover-text-orange button2"></i></a>
            {% else %}
                <a href="/user/register"
                   class="link padding show-inline-block orange text-white hover-bold transition-2"
                   style="margin-top: 4px;border-radius: 0px 4px 4px 0px">ثبت نام</a><a href="/user/login"
                                                                                        class="link padding show-inline-block gray text-white hover-bold transition-2"
                                                                                        style="margin-top: 4px;border-radius: 4px 0px 0px 4px">ورود</a>
            {% endif %}

        </div>
        <div class="clear"></div>
    </header>
    {% block index_body %}
    {% endblock %}
    <footer style="background: #FEDAB8" class="padding-16"><br>
        <div class="row" style="width: 80%;margin: 0 auto;">
            <div class="col m4">
                <div class="padding">
                    <p class="bold small border-bottom border-gray padding-small margin-bottom-8"
                       style="border-width: 2px!important">ارتباط با ما</p>
                    <a href="" class="link small block padding-small hover-text-blue">تلگرام</a>
                    <a href="" class="link small block padding-small hover-text-blue">اینستاگرام</a>
                    <a href="" class="link small block padding-small hover-text-blue">گوگل پلاس</a>
                </div>
            </div>
            <div class="col m4">
                <div class="padding">
                    <p class="bold small border-bottom border-gray padding-small margin-bottom-8"
                       style="border-width: 2px!important">پشتیبانی</p>
                    <a href="" class="link small block padding-small hover-text-blue">تلفن تماس: 09150000000</a>
                    <a href="" class="link small block padding-small hover-text-blue">ایمیل: test@test.test</a>
                </div>
            </div>
            <div class="col m4">
                <div class="padding">
                    <p class="bold small border-bottom border-gray padding-small margin-bottom-8"
                       style="border-width: 2px!important">شرکت</p>
                    <a href="" class="link small block padding-small hover-text-blue">صفحه اصلی</a>
                    <a href="" class="link small block padding-small hover-text-blue">درباره ما</a>
                    <a href="" class="link small block padding-small hover-text-blue">تست</a>
                </div>
            </div>
        </div>
        <div class="padding">
            <p class="left small">تمام حقوق محفوظ است - 1397</p>
        </div>
    </footer>
    <script src="{% static 'libs/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
{% endblock %}
</body>
</html>