{% extends 'index-layout.html' %}
{% load static %}
{% block index_body %}
    <div class="" style="height: calc( 100vh - 41.6px )">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url({% static 'imgs/upload/bg.jpg' %})">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
                <div class="swiper-slide" style="background: url({% static 'imgs/upload/bg.jpg' %})">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
                <div class="swiper-slide" style="background: url({% static 'imgs/upload/bg.jpg' %})">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next" style="background-size: 20px;fill: #fff"></div>
            <div class="swiper-button-prev" style="background-size: 20px;"></div>
        </div>
    </div>
    <section style="padding-bottom: 50px;"><br>
        <h1 class="center bold text-orange xlarge margin-top padding-16" style="padding-bottom: 0!important">امکانات
            اصلی سایت</h1>
        <p class="center small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
            است. </p><br>
        <div class="row padding-large padding-32">
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/1.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/2.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/3.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/4.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
        <div class="row padding-large">
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/5.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/6.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/7.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/8.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
        <div class="row padding-large">
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/9.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/10.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/11.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
            <div class="col m3 s6">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/12.png' %}" alt="" class="image" style="height: 45px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
        <br>
    </section>
    <div class="" style="height:100vh">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url({% static 'imgs/upload/bg.jpg' %})">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
                <div class="swiper-slide" style="background: url({% static 'imgs/upload/bg.jpg' %})">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
                <div class="swiper-slide" style="background: url({% static 'imgs/upload/bg.jpg' %})">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next" style="background-size: 20px;fill: #fff"></div>
            <div class="swiper-button-prev" style="background-size: 20px;"></div>
        </div>
    </div>
    <section style="background-image: url({% static 'imgs/upload/review_bg.jpg' %});background-size: cover"><br><br>
        <h2 class="text-white center bold padding-16 xlarge" style="margin-top: 0">محبوبترین محصولات سایت</h2><br>
        <div class="row padding" style="width: 90%;margin: 0 auto">
            <div class="col l3 m6 padding">
                <div class="center card white padding round">
                    <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image round" style="margin-top: 6px;">
                    <p class="small justify margin-top margin-bottom">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                        ابزارهای کاربردی می باشد. </p>
                    <a href=""
                       class="round-xxlarge orange link padding-small small text-white margin-top hover-shadow block">اطلاعات
                        بیشتر</a>
                </div>
            </div>
            <div class="col l3 m6 padding">
                <div class="center card white padding round">
                    <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image round" style="margin-top: 6px;">
                    <p class="small justify margin-top margin-bottom">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                        ابزارهای کاربردی می باشد. </p>
                    <a href=""
                       class="round-xxlarge orange link padding-small small text-white margin-top hover-shadow block">اطلاعات
                        بیشتر</a>
                </div>
            </div>
            <div class="col l3 m6 padding">
                <div class="center card white padding round">
                    <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image round" style="margin-top: 6px;">
                    <p class="small justify margin-top margin-bottom">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                        ابزارهای کاربردی می باشد. </p>
                    <a href=""
                       class="round-xxlarge orange link padding-small small text-white margin-top hover-shadow block">اطلاعات
                        بیشتر</a>
                </div>
            </div>
            <div class="col l3 m6 padding">
                <div class="center card white padding round">
                    <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image round" style="margin-top: 6px;">
                    <p class="small justify margin-top margin-bottom">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                        ابزارهای کاربردی می باشد. </p>
                    <a href=""
                       class="round-xxlarge orange link padding-small small text-white margin-top hover-shadow block">اطلاعات
                        بیشتر</a>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
    <section><br>
        <h1 class="center bold xlarge margin-top padding-16" style="padding-bottom: 0!important">ساخته شده توسط کاربران
            سایت</h1>
        <p class="center small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
            است. </p><br><br><br>
        <div class="row" style="width: 80%;margin: 0 auto">
            <div class="col m4">
                <div class="padding">
                    <p class="small padding-small" style="padding-right: 0!important">لورم ایپسوم متن ساختگی</p>
                    <div style="height: 150px;overflow: hidden" class="round">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image">
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="padding">
                    <p class="small padding-small" style="padding-right: 0!important">لورم ایپسوم متن ساختگی</p>
                    <div style="height: 150px;overflow: hidden" class="round">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image">
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="padding">
                    <p class="small padding-small" style="padding-right: 0!important">لورم ایپسوم متن ساختگی</p>
                    <div style="height: 150px;overflow: hidden" class="round">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width: 80%;margin: 0 auto">
            <div class="col m4 ">
                <div class="padding">
                    <p class="small padding-small" style="padding-right: 0!important">لورم ایپسوم متن ساختگی</p>
                    <div style="height: 150px;overflow: hidden" class="round">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image">
                    </div>
                </div>
            </div>
            <div class="col m4 ">
                <div class="padding">
                    <p class="small padding-small" style="padding-right: 0!important">لورم ایپسوم متن ساختگی</p>
                    <div style="height: 150px;overflow: hidden" class="round">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image">
                    </div>
                </div>
            </div>
            <div class="col m4 ">
                <div class="padding">
                    <p class="small padding-small" style="padding-right: 0!important">لورم ایپسوم متن ساختگی</p>
                    <div style="height: 150px;overflow: hidden" class="round">
                        <img src="{% static 'imgs/upload/p2.jpg' %}" alt="" class="image">
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
    <section class="topbar border-orange"><br>
        <h1 class="center xlarge bold padding margin-top">تعهدات ما</h1><br><br>
        <div class="row padding" style="width: 80%;margin:0 auto">
            <div class="col m4">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/10.png' %}" alt="" class="image" style="height: 40px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
            <div class="col m4">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/10.png' %}" alt="" class="image" style="height: 40px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
            <div class="col m4">
                <div class="padding center">
                    <img src="{% static 'imgs/icon/10.png' %}" alt="" class="image" style="height: 40px;">
                    <h6 class="bold medium margin-top">این یک متن است</h6>
                    <p class="small justify text-gray" style="text-align-last: center">لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
        </div>
        <h6 class="bold medium margin-top center">این یک متن است</h6>
        <p class="small justify" style="text-align-last: center;width: 80%;margin: 10px auto">لورم ایپسوم متن ساختگی با
            تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
            تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
            ایجاد کرد. </p><br><br><br>
    </section>
{% endblock %}