{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Yasin Asasi">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'libs/tabulator.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ya.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'libs/tabulator.min.js' %}"></script>
    {% block style %}
    {% endblock %}

</head>
<body>
{#{% if form.non_field_errors %}#}
{% if form.errors or form.non_field_errors %}
    <div class="container rtl">
        <div class="card center pink padding-large animate-top unselect top"
             style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                class="fa fa-times text-white left display-left margin-left pointer"
                onclick="parentElement.style.top='-300px'"></i>
            <ul style="list-style-type: none;">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p> {{ error }}{{ field.name }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
{% if messages %}

    <ul class="messages" style="list-style-type: none;direction: rtl">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="card center green padding-large animate-top unselect top"
                     style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                        class="fa fa-times text-white left display-left margin-left pointer"
                        onclick="parentElement.style.top='-300px'"></i>
                    {{ message }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="card center pink padding-large animate-top unselect top"
                     style="z-index: 10;position: fixed;right: 0;left: 0;">
                    <i class="fa fa-times text-white left display-left margin-left pointer"
                       onclick="parentElement.style.top='-300px'"></i>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% block body %}
{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
<script>
    week = new Array("يكشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه", "شنبه")
    months = new Array("فروردين", "ارديبهشت", "خرداد", "تير", "مرداد", "شهريور", "مهر", "آبان", "آذر", "دي", "بهمن", "اسفند");
    a = new Date();
    d = a.getDay();
    day = a.getDate();
    month = a.getMonth() + 1;
    year = a.getFullYear();
    year = (year == 0) ? 2000 : year;
    (year < 1000) ? (year += 1900) : true;
    year -= ((month < 3) || ((month == 3) && (day < 21))) ? 622 : 621;
    switch (month) {
        case 1:
            (day < 21) ? (month = 10, day += 10) : (month = 11, day -= 20);
            break;
        case 2:
            (day < 20) ? (month = 11, day += 11) : (month = 12, day -= 19);
            break;
        case 3:
            (day < 21) ? (month = 12, day += 9) : (month = 1, day -= 20);
            break;
        case 4:
            (day < 21) ? (month = 1, day += 11) : (month = 2, day -= 20);
            break;
        case 5:
        case 6:
            (day < 22) ? (month -= 3, day += 10) : (month -= 2, day -= 21);
            break;
        case 7:
        case 8:
        case 9:
            (day < 23) ? (month -= 3, day += 9) : (month -= 2, day -= 22);
            break;
        case 10:
            (day < 23) ? (month = 7, day += 8) : (month = 8, day -= 22);
            break;
        case 11:
        case 12:
            (day < 22) ? (month -= 3, day += 9) : (month -= 2, day -= 21);
            break;
        default:
            break;
    }

    document.getElementById('showtm').innerHTML = " " + week[d] + " " + day + " " + months[month - 1] + " " + year;
</script>
</body>
</html>