{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>ورود</title>
{% endblock %}
{% block style %}
<style>
    body {
            background: url({% static 'imgs/araksShopBg.svg' %});
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
            overflow: hidden;

        }

        .card-4 {
            width: 400px;
            max-width: 95%;
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
{% endblock %}
{% block body %}
<div class="container rtl">
{#    <div class="card green padding-large display-topcenter animate-top" style="z-index: 10"><i class="fa fa-times text-white left display-left margin-left pointer" onclick="parentElement.style.top='-300px'"></i>اکانت شما با موفقیت شاخته شد</div>#}
{#    <div class="card red padding-large display-topcenter animate-top" style="z-index: 10"><i class="fa fa-times text-white left display-left margin-left pointer" onclick="parentElement.style.top='-300px'"></i>ساخت اکانت با مشکل مواجه شد</div>#}
    <div class="card-4 padding display-middle padding-32 round-large">
        {% if next %}
        <form action="login?next={{next}}" method="post" >
        {%else%}
        <form action="login" method="post" >
        {% endif %}
            {% csrf_token %}
            <label for="" class="block margin-bottom text-white">نام کاربری
                <input type="text" class="input small round focus-shadow-4" name="username">
            </label>
            <label for="" class="block margin-bottom text-white">کلمه عبور
                <input type="password" name="password" class="input small round focus-shadow-4">
            </label><br>
            <input type="submit" class="round block button card text-white blue hover-blue hover-shadow" value="ورود">

        </form>
        <div class="row">
            <a href="register" class="round green card link block padding margin-top center hover-shadow">ثبت
                نام</a>
            <a href="forget-password" class="round link block padding margin-top center hover-shadow text-white">بازیابی
                کلمه عبور</a>
        </div>
    </div>
</div>
{% endblock %}
