{% extends 'admin-panel.html' %}
{% load static %}
{% block title %}
    <title>لیست محصولات</title>
{% endblock %}
{% block style %}
    <style>
        table tr:last-child {
            border-bottom: none;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>لیست محصولات</h5>
            <table class="table-all centered hoverable responsive">
                <tr>
                    <th>نام محصول</th>
                    <th>کد محصول</th>
                    <th>دسته بندی</th>
                    <th>وضعیت</th>
                    <th>قیمت(تومان)</th>
                    <th></th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.group }}</td>
                        {% if product.exist %}
                            <td>موجود</td>
                        {% else %}
                            <td>ناموجود</td>
                        {% endif %}
                        <td>{{ product.price }}</td>
                        <td class="small text-blue"><a href="" class="link">ویرایش</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

