{% extends 'layout.html' %}
{% load tags %}
{% block body %}

    <body class="light-gray">
    <div class="overlay hide-large" onclick="closemenu()" style="cursor:pointer" id="myOverlay"></div>
    <nav class="sidebar card bar-block collapse top right-0 rtl" style="z-index: 3;width: 250px;" id="mySidebar">
        <div class="container display-container">
            <i onclick="closemenu()" class="fa fa-times hide-large button2 hover-text-orange display-topleft"></i>
            <h3 class="wide link padding margin-bottom" style="margin: 0!important; margin-bottom: 20px!important"><b
                    class="large"><a href="/" class="link hover-text-orange">LOGO</a></b></h3>
        </div>
        <div class="">
            <a href="/products/قاب عکس"
               class="bar-item button2 right-align small relative hover-text-orange transition-2">
                <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                <i class="far fa-check-square padding-small tiny"></i>
                قاب عکس
            </a>
            <a href="/products/تیشرت"
               class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                <i class="far fa-check-square padding-small tiny"></i>
                تیشرت
            </a>
            {#            <div>#}
            {#                <a href="javascript:void(0)"#}
            {#                   class="bar-item button2 right-align small relative dropdown-btn hover-text-orange transition-2 margin-top">#}
            {#                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>#}
            {#                    <i class="far fa-check-square padding-small tiny"></i>#}
            {#                    لیوان#}
            {#                </a>#}
            {#                <div class="dropdown-container margin-right">#}
            {#                    <div>#}
            {#                        <a href="javascript:void(0)" class="button2 block small right-align hover-text-orange"><i#}
            {#                                class="far fa-check-square padding-small tiny"></i>ماگ</a>#}
            {#                        <a href="javascript:void(0)" class="button2 block small right-align hover-text-orange"><i#}
            {#                                class="far fa-check-square padding-small tiny"></i>لیوان</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <a href="/products/ماگ"
               class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                <i class="far fa-check-square padding-small tiny"></i>
                ماگ
            </a>
            <a href="/products/پیکسل"
               class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                <i class="far fa-check-square padding-small tiny"></i>
                پیکسل
            </a>
            <a href="/products/غیره"
               class="bar-item button2 right-align small relative hover-text-orange transition-2 margin-top">
                <!--                    <i class="display-left show-inline-block margin-left far fa-angle-left"></i>-->
                <i class="far fa-check-square padding-small tiny"></i>
                 غیره
            </a>
        </div>

        <span class="center block display-center section display-bottomright small" style="">
{#            تاریخ و ساعت<br><br>#}
            <p id="showtm"></p>
{#            {% right_now %}#}
        </span>
    </nav>

    <header class="main white card bar-block padding-small top" style="margin-right: 250px;z-index: 2">
        <a href="javascript:void(0)" onclick="openmenu()" class="right hide-large hover-text-orange"><i
                class="fa fa-bars large padding"></i></a>
        <div class="">
            {% if user.is_authenticated %}
                <a href="/user/main" class="link"><i class="fa fa-user large padding hover-text-orange button2"></i></a>
                {#            <i class="fa fa-bell large padding hover-text-orange button2"></i>#}
            {% else %}
                <a href="/user/main" class="link" style="padding: 10px 10px;">ثبت نام / ورود</a>

            {% endif %}
        </div>
    </header>
    {% block after_body %}
    {% endblock %}
    </body>
{% endblock %}
