{% extends 'index-layout.html' %}
{% load static %}
{% block title %}
    <title>نمایش محصول</title>
{% endblock %}
{% block index_body %}
    <style>
        table td {
            text-align: right !important;
        }

        table tr td:last-child,
        table tr:nth-child(odd) td:first-child {
            background: #f1f1f1 !important;
        }

        table tr:nth-child(even) td:nth-child(2) {
            background: #fff !important;
        }
    </style>
    <section class="padding-large padding-32">
        <div class="col m4 padding right">
            <div class="">
                <img src="{{ product.image.url }}" alt="" class="image">
            </div>
        </div>

        <div class="col m8 padding rtl left">
            <h5 class="bold">نام محصول: {{ product.name }}</h5>
            <h6 class="bold small">کد محصول: {{ product.code }}</h6><br>
            <h5 class="text-blue">قیمت:
                {{ product.price }} تومان
            </h5>
            {% if user.is_authenticated %}
                <form action="/user/addtofactor" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <label>تعداد:</label>
                    <input type="number" name="number" value="1" min="1" max="50" style="width: 50px">
                    <input type="submit" class="btn blue section round transition-2" value="افزودن به سبد خرید">
                </form>
            {% else %}
                <p class="text-pink small center margin-top"> برای خرید لطفا وارد شوید</p>
            {% endif %}

            <br>
            <table class="table centered responsive car">
                <tr>
                    <td>تعداد عکس مورد نیاز :</td>
                    <td></td>
                    <td>{{ product.pic_number }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>سایز عکس :</td>
                    <td></td>
                    <td>{{ product.pic_size }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>دسته :</td>
                    <td></td>
                    <td>{{ product.group }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>توضیحات :</td>
                    <td></td>
                    <td style="word-break: break-word !important;white-space: normal;">
                        {{ product.description }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="border-bottom: none;">
                    <td>وضعیت :</td>
                    <td></td>
                    {% if product.exist %}
                        <td>موجود</td>
                    {% else %}
                        <td>ناموجود</td>
                    {% endif %}
                </tr>
            </table>
            <br>


        </div>
        <div class="clear"></div>
    </section>
{% endblock %}