{% extends 'admin-panel.html' %}
{% load static %}
{% block title %}
    <title>گالری</title>
{% endblock %}
{% block style %}
    <style>
        .tabulator-col, .tabulator-cell {
            text-align: center !important;
        }

        .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
            left: 8px !important;
            right: unset;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>لیست پرداخت های انجام شده</h5>
            <table id="example-table">
                <thead>
                <tr>
                    <th>نام کاربر</th>
                    <th>نام محصول</th>
                    <th>مبلغ</th>
                    <th>تاریخ خرید</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>تست 1</td>
                    <td>1234</td>
                    <td>20,000 تومان</td>
                    <td>9999-99-99</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var table = new Tabulator("#example-table", {
            {#height: "292px",#}
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 30,
            movableColumns: true,
            columns: [
                {title: "نام کاربر", field: "user-name"},
                {title: "نام محصول", field: "product-name"},
                {title: "مبلغ", field: "price"},
                {title: "تاریخ خرید", field: "dob", sorter: "date"},
            ],
        });
    </script>
{% endblock %}

