{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>ثبت نام</title>
{% endblock %}
{% block style %}
<style>
    body {
            background: url({% static 'imgs/araksShopBg.svg' %});
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
            overflow: hidden;

        }

        .card-4 {
            width: 400px;
            max-width: 95%;
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container rtl">
    <div class="card-4 padding display-middle padding-32 round-large">
        <form action="register" method="post">
            {% csrf_token %}
            <label for="" class="block margin-bottom text-white">آدرس ایمیل<input type="email" name="email" class="input small round focus-shadow-4"></label>
            <label for="" class="block margin-bottom text-white">نام کاربری<input type="text" name="username" class="input small round focus-shadow-4"></label>
            <label for="" class="block margin-bottom text-white">کلمه عبور<input type="password" name="password" class="input small round focus-shadow-4"></label><br>
            <input type="submit" class="round block button card text-white blue hover-blue hover-shadow" value="ثبت نام">

        </form>
        <div class="row">
            <a href="login" class="round green card link block padding margin-top center hover-shadow">ورود</a>
            <a href="forget-password" class="round link block padding margin-top center hover-shadow text-white">بازیابی
                کلمه عبور</a>
        </div>
    </div>
</div>
{% endblock %}
