{% extends 'admin-panel.html' %}
{% load static %}
{% block title %}
    <title>لیست تیکت ها</title>
{% endblock %}
{% block style %}
    <style>
        .tabulator-col, .tabulator-cell {
            text-align: center !important;
        }

        .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
            left: 8px !important;
            right: unset;
        }
    </style>
{% endblock %}
{% block after_body %}
    <div class="main padding rtl" style="margin-right: 250px;margin-top: 50px">

        <div class="block">
            <h5>لیست کاربران</h5>
            <table id="example-table">
                <thead>
                <tr>
                    <th>نام کاربری</th>
                    <th>ایمیل</th>
                    <th>تاریخ عضویت</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script>
        var table = new Tabulator("#example-table", {
            {#height: "292px",#}
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 30,
            movableColumns: true,
        });
    </script>
{% endblock %}

